<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Only for Test</title>
</head>
<section layout:fragment="content">
    <div id="test" style="height: 100%"></div>
        <div id="json"></div>

    <th:forEach items="${users}" var="user">
        <tr>
            <td id="">${user.createTime}</td>
            <td id="userName">${user.userName}</td>
            <td id="">${user.role}</td>
            <td id="">${user.phone}</td>
            <td id="">${user.groupId}</td>
            <td id="">${user.groupRole}</td>
            <td id="">${user.lastUpdate}</td>
            <td>
                <button id="edit" class="layui-btn layui-btn-small">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button id="delete" class="layui-btn layui-btn-small">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </td>
        </tr>
    </th:forEach>

</section>
</html>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    // $.get("/api/sys/cpu",function (data) {
    //     $("#json").append(JSON.stringify(data));
    //     $.each(data,function (i,item) {
    //         $("#test").append('cpu_'+i+' '+ item.combined+'</br>')
    //     })
    // })
    // $.get("/api/sys/memory",function (result) {
    //     $("#json").append(JSON.stringify(result));
    //
    //     $("#test").append('TotalMemory:'+result.total);
    // })

    // $.get("/api/sys/fileSys",function (data) {
    //     $("#json").append(JSON.stringify(data))
    // })
    $.get("/api/sys/process",function (data) {
        var users=data;
    })

    $('#delete').on('click', function() {
        //第一种方式按照index进行值的获取，个人不推荐
        //var userName = $(this).parents("tr").children("td:nth-child(2)").text();
        //第二种方式按照id获取值,推荐
        var userName = $(this).parents("tr").find("#userName").text();
        alert(userName);
        //第三种方式按照class获取值
        //var userName = $(this).parents("tr").find(".userName").text();
    });
    $("#json").append(new Date())
</script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- jQuery custom content scroller -->
<script src="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>