<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.monitor.dao.AlertProcessMapper">



    <insert id="addOne" parameterType="com.zy.monitor.model.AlertCpu">
        insert process(alertId,pid,name,cpu,mem) values (#{alertId},#{pid},#{name},${cpu},#{mem})
    </insert>
</mapper>